
boto3
pytest
Sphinx
tox
redshift_connector
isort
pre-commit
black
autopep8
tox
coverage
pandas
ipython
jupyterlab
boto3
python-dotenv
PyYAML
dictmerge
pyspark
aws_secretsmanager_caching
bandit
safety
sphinx
myst_parser
sphinx_rtd_theme
s3fs
wheel
bumpversion
