
# basics / dev
# pyspark==3.3.1
# jupyter
# awsglue
awswrangler ## hard dependency for
# aws-lambda-powertools[aws-sdk]
# boto3 + botocore
aws_secretsmanager_caching  ## TO use secrets
s3fs # for lambda, default in glue
# yaml # dev req
aws_secretsmanager_caching


# extensions / dependencies
hdbcli==2.14.22
redshift_connector==2.0.909

# coverage
# safety
# bandit
